body {
	font-family: 'gotham', sans-serif;
	color: #888;
	font-size: 15px;
	padding: 0px;
	margin: 0px;
	background-color: #000000;
}

p {
	font-family: 'gotham', sans-serif;
	line-height: 22px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	clear: left;
}

img {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#contentvideo {
	margin-bottom: 10px;
}

h1 {
	font-weight: normal;
	color: #eee;
	font-family: 'Gotham', sans-serif;
	font-size: 22px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: -2px;
	clear: left;
}

a {
	color: #eee;
	text-decoration: none;
/*	-webkit-transition: 0.2s ease-out;
	transition: 0.2s ease-out; */
}

a:hover {
	color: #FFF;
}

#header {
	/*position: fixed;*/
	width: 100%;
	background-color: #000;
	margin-top: 0px;
	z-index: 1;
}

#header img {
	padding-top: 0px;
}

#title {
	float: left;
}

#title2 {
	margin-bottom: 12px;
}

#title img {
	padding-top: 0px;
	padding-bottom: 0px;
}

#titlebuttons {
	float: left;
	clear: left;	
}

#titlebuttons a {
	padding-right: 10px;
	margin-top: 0px;
}

#divider {
	float: left;
	clear: left;
	padding-top: 0px;
}

#buttoncontainer {
	float: right;
	clear: left;
}

#buttoncontainer img {
	padding-top: 6px;
	opacity: 0.3;
/*	-webkit-transition: 0.2s ease-out;
	transition: 0.2s ease-out; */
}

#buttoncontainer img:hover {
	opacity: 1;
}

#navarrows {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	float: right;
}

#navarrows img {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 7px;
	padding-right: 0px;
	opacity: 0.3;
/*	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out; */
}

#navarrows img:hover {
	opacity: 1;
}

#pagefill {
	margin-top: 0px;
	padding-top: 1px;
	clear: left;
	width: 100%;
	background-color: #000000;
}

#contentwrap {
	clear: left;
	width: 1116px;
	margin: auto;
}

#imagestrip {
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 70px;
}

#imagestrip img {
	margin-bottom: 8px;
}

#imagegrid {
	padding: 0px;
	margin-top: 20px;
	margin-left: -6px;
}

#thumbnail img {
	transition: .5s;
	width: 100%;
}

#thumbnail img:hover {
	transform: scale(1.04);
}

#thumbnail {
	alignment-adjust:central;
	float: left;
	margin-left: 6px;
	margin-bottom: 10px;
	padding: 0;
/*	border-bottom: 2px solid #999; */
	letter-spacing: 0.1em;
	text-transform: uppercase;
	overflow: hidden;
	background-color: #000000;
	position: relative;
}

#thumbnail:hover {
/*	border-bottom: 2px solid #000; */
	-webkit-transition: 0.3s ease-out;
	transition: all 0.3s ease-out;
}

#thumbnail p {
	font-size: 12px;
	background-color: #000000;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 4px;
}

#thumbnail a {
	color: #888;
/*	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out; */
}

#thumbnail a:hover {
	color: #eee;
}

#filler {
	background-color: #3F0;
	height: 30px;
	margin-left: -2px;
	visibility: hidden;
}

#footer {
	clear: both;
	background-color: #000;
	margin-top: 40px;
}

#footer1 {
	margin-top: 20px;
}

#footer2 {
	margin-top: -4px;
}

#footer p {
	color: #444;
	font-size: 15px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	padding: 0px;
}

#contact {
	width:640px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -40px;
}

#back-to-top {
	width:100px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	background-color: #000;
	height: 220px;
	min-width: 100%;
}

/* Additions */

.imagecontainer {
	height: 223px;
	overflow: hidden;
}

.imagecontainer:hover {
	opacity:0.5;
}